<header>
    <div id="profile-header" class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <i class="fas fa-6x {{ page.symbol }}"></i>
                        <h1>{{page.h1}}</h1>
                        <h2>{{page.h2}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <ul>
                            <li><a href="{{page.guide-url}}" class="btn btn-outline btn-xl page-scroll">Guide de lancement</a></li>
                            <li><a href="https://mon.agatha-budget.fr/signup" class="btn btn-outline btn-xl page-scroll">Créer son compte !</a></li>
                            <li><a href="https://mon.agatha-budget.fr/" class="btn btn-outline btn-xl page-scroll">Se connecter !</a></li>
                            <li><a href="#pricing">Voir les tarifs</a></li>
                            <li><a href="#referral">Parrainage</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
