<header>
    <div id="profile-header" class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <i class="fas fa-6x fa-award"></i>
                        <h1>Je veux devenir meilleur avec mon argent</h1>
                        <h2>Mettre fin au stress, préparer mes projets, concrétiser mon avenir</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <ul>
                            <li><a href="/agatha/2021/12/14/starter-default/" class="btn btn-outline btn-xl page-scroll">Guide de lancement</a></li>
                            <li><a href="https://mon.agatha-budget.fr/signup" class="btn btn-outline btn-xl page-scroll">Créer son compte !</a></li>
                            <li><a href="https://mon.agatha-budget.fr/" class="btn btn-outline btn-xl page-scroll">Se connecter !</a></li>
                            <li><a href="#pricing">Voir les tarifs</a></li>
                            <li><a href="#referral">Parrainage</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
