<section id="different" class="section bg-contrast text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pourquoi nous sommes différents ?</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <h2 class="section-subheading">Fonctionnalités</h2>
            <ul>
                <li>Facile</li>
                <li>Sur mesure </li>
                <li>Approche proactive</li>
                <li>Réactif face à tous les imprévus</li>
                <li>Axé sur les projets et non sur les dépenses</li>
            </ul>
            <i class="section-footer fas fa-4x fa-search"></i>
        </div>
        <div class="col-md-6">
            <h2 class="section-subheading">Engagements</h2>
            <div>
                <ul>
                    <li>Anonyme</li>
                    <li>Accessible à tous</li>
                    <li>Respect total de votre vie privée</li>
                    <li>Nos clients ne sont pas des produits</li>
                    <li>Totalement indépendant des banques</li>
                </ul>
                <i class="section-footer fas fa-4x fa-handshake"></i>
            </div>
        </div>
    </div>
</section>