<section id="different" class="download different bg-contrast text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="section-heading">Pourquoi nous sommes différents des autres ? </h2></i></h2>
                <ul>
                    <li>Un focus sur les projets du futur plus que sur les dépenses du passé</li>
                    <li>un budget non punitif qui s'adapte à votre vie</li>
                    <li>un mode de financement qui ne fait pas de vous un produit</li>
                </ul>
            </div>
        </div>
    </div>
</section>
