<section id="different" class="section bg-contrast text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">En quoi Agatha est-elle différente ?</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <h3>Fonctionnalités</h3>
            <ul>
                <li>Facile</li>
                <li>Sur mesure </li>
                <li>Axée sur le futur et non sur le passé</li>
                <li>Réactive et bienveillante face aux imprévus</li>
                <li><a href="/agatha/2021/12/14/agatha-differences/" class="btn btn-outline btn-xl page-scroll">En savoir plus</a></li>
            </ul>
            <i class="section-footer fas fa-4x fa-check"></i>
        </div>
        <div class="col-md-6">
            <h3>Engagements</h3>
            <ul>
                <li>Anonyme</li>
                <li>Accessible à tous</li>
                <li>Respect total de votre vie privée</li>
                <li>Nos clients ne sont pas des produits</li>
                <li><a href="/agatha/2021/12/14/engagement/" class="btn btn-outline btn-xl page-scroll">En savoir plus</a></li>
            </ul>
            <i class="section-footer fas fa-4x fa-handshake"></i>
        </div>
    </div>
</section>