<section id="go_contribute" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wanna contribute ?</h2>
                <h3>We are looking for dev (Kotlin, Typescript, Vue), designers, illustrators, translators, writers, video editors</h3>
                <h3>You have other talents, you would like to share ? Come on in !</h3>
                <h3>See our Github repository : <a href="https://github.com/agatha-budget/agatha-budget">here</a></h3>
                <h3>See our documentation: <a href="https://doc.agatha-budget.fr">here</a></h3>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
</section>
