<section id="go_try" class="section bg-contrast text-center">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Wanna try ?</h2>
                        <h3>Try the hosted app for free during a month : <a href="http://mon.agatha-budget.fr">here</a></h3>
                        <h3>See our users guides (just french for now) : <a href="http://agatha-budget.fr">here</a></h3>
                        <h3>Self-host : <a href="https://github.com/agatha-budget/agatha-budget">here</a></h3>
                    </div>
                </div>
            </div>
        </div>
</section>
