<section id="pricing" class="section bg-contrast text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Combien ça coûte ?</h2>
                <h3>Satisfait ou remboursé pendant 30 jours</h3>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pricing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-direction text-primary gradient-icon"></i>
                            <h3>Classique</h3>
                            <h3>6€/mois</h3>
                            <p class="text-muted">Toute la puissance d'Agatha </br> clefs en main</p>
                            <p class="text-muted bold">ou 60€/an soit 5€/mois</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-social-github text-primary gradient-icon"></i>
                            <h3>Sur votre serveur</h3>
                            <h3>Gratuit</h3>
                            <p class="text-muted">La route est longue </br> mais la voie est libre !</p>
                            <p class="text-muted">N'hésitez pas à devenir contributeur</p>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-heart text-primary gradient-icon"></i>
                            <h3>Solidaire</h3>
                            <h3>3€/mois</h3>
                            <p class="text-muted">Agatha et les <span class="bold">Donateurs</span> vous accompagnent </br> pour un nouveau départ</p>
                            <p class="text-muted">valable 6 mois puis renouvelable</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-support text-primary gradient-icon"></i>
                            <h3>Donateurs</h3>
                            <h3>Prix libre/mois</h3>
                            <p class="text-muted">Agatha double votre mise </br> pour financer les comptes <span class="bold">Solidaire</span></p>
                            <p class="text-muted">1€50 = 1 Compte</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>Nos autres offres</h3>
                            <hr class="primary">
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-compass text-primary gradient-icon"></i>
                            <h3>Accompagnement individuel</h3>
                            <h3>50€/heure</h3>
                            <p class="text-muted">Votre rapport à l'argent est complexe </br> et vous souhaitez un soutien personnalisé ?</p>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div id="essentiel-pricing" class="feature-item">
                            <i class="icon-present text-primary gradient-icon"></i>
                            <h3>Cadeau</h3>
                            <h3>36€</h3>
                            <p class="text-muted">Offrez 6 mois d'abonnement Agatha </br> Si la personne ne prolonge pas ensuite, nous vous remboursons</p>
                        </div>
                    </div>
                </div>
                <div class="row col-md-8 col-md-offset-2">
                                       
                </div>
            </div>
        </div>
    </div>
</section>