<section id="profile" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Je suis là parce que ...</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-award wow bounceIn text-primary"></i>
                    <h3>Je veux devenir meilleur<br/> avec mon argent</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud-showers-heavy wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>J'ai du mal à joindre <br/> les deux bouts</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wave-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Ma situation change <br/> ou a changée</h3>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Nous voulons gérer à deux</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Je veux gérer la trésorerie <br/> de mon entreprise</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-people-carry wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>J'accompagne des personnes dans la gestion de leur argent</h3>
                </div>
            </div>
        </div>
    </div>
</section>
