<section id="profile" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Je suis là parce que</h2>
                <h3>Découvrez les tarifs et guides adaptés à votre profil</h3>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/profile/default">
                <div class="service-box">
                    <i class="fa fa-4x fa-award wow bounceIn gradient-icon"></i>
                    <h3>Je veux mettre mon argent<br/>à mon service</h3>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/profile/hard">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud-sun-rain wow bounceIn gradient-icon" data-wow-delay=".2s"></i>
                    <h3>J'ai du mal à joindre <br/> les deux bouts</h3>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/profile/company">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn gradient-icon" data-wow-delay=".2s"></i>
                    <h3>Je veux gérer la trésorerie <br/> de mon entreprise</h3>
                </div>
                </a>
            </div>
        </div>
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/agatha/2021/12/14/wip/">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-muted" data-wow-delay=".1s"></i>
                    <h3>Nous voulons gérer à deux</h3>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/agatha/2021/12/14/wip/">
                <div class="service-box">
                    <i class="fa fa-4x fa-wave-square wow bounceIn text-muted" data-wow-delay=".3s"></i>
                    <h3>Ma situation change <br/> ou a changé</h3>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <a href="/agatha/2021/12/14/wip/">
                <div class="service-box">
                    <i class="fa fa-4x fa-people-carry wow bounceIn text-muted" data-wow-delay=".3s"></i>
                    <h3>J'accompagne quelqu'un dans la gestion de son argent</h3>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
