<section id="testimonials" class="section bg-contrast text-center">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Ce qu'ils en disent</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    Moi par exemple, j'aime bien ! - Collecte des témoignages en cours
                </div>
            </div>
        </div>
</section>
