<section id="testimonial" class="section bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Ils en parlent ! </h2>
                <p>Comment Agatha a changé leur rapport à l'argent</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="no-padding" id="user-testimonials">
        <div class="container-fluid">
            <div class="row no-gutter col-lg-10 col-lg-offset-1">
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box">
                        <img src="/img/client/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="customer-name text-faded">
                                    Sylvie - retraitée divorcée
                                </div>
                                <div class="customer-review">
                                    « Il est clair qu'en mettant à jour régulièrement le tableau je savais où j'en étais et du coup j'ai limité beaucoup mes dépenses, et contrairement à avant où j'avais mon virement vers mon livret A chaque mois, juste histoire d'économiser, là je sais pourquoi je devais me restreindre. »
                                    <p>Photo anonyme</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box">
                        <img src="/img/client/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="customer-name text-faded">
                                    Chloé - jeune active
                                </div>
                                <div class="customer-review">
                                    « La méthode Agatha met du sens sur mon argent, des mots sur mes projets et des priorités sur mes dépenses. L'argent ne devient plus un sujet qui fâche mais une énergie au service de ma vie. On pourrait n'y voir que de la gestion de budget. Grâce à ça je suis en passe d'aimer faire mes comptes pour mieux orienter mes choix. Merci ! »
                                    <p>Photo anonyme</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box">
                        <img src="/img/client/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="customer-name text-faded">
                                    Amandine - étudiante
                                </div>
                                <div class="customer-review">
                                    « Une chose toute simple mais j’étais très contente : début décembre, j’avais déjà l’argent attitré pour les cadeaux sans avoir à me priver ou à essayer d’économiser sur ce que j’offrais. En moins cool… j’avais aussi l’argent prêt quand mon ordi est tombé en panne. En résumé je dirai que ça me permet de ne plus stresser pour les grosses dépenses parce que je les prépare à l'avance »
                                    <p>Photo anonyme</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="portfolio-box">
                        <img src="/img/client/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="customer-name text-faded">
                                    Et vous ?
                                </div>
                                <div class="customer-review">
                                    Qu'est-ce qu'Agatha peut faire pour vous ?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
