---
layout: page
title: Blog
heading: Blog
subtitle: Suivez notre actualité sur les réseaux et davantage sur notre newsletter
---

<section class="diagonal">
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>
	</div>
</section>

{% if paginator.total_pages > 1 %}
	<section class="diagonal alternate">
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Articles suivants</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Anciens articles &rarr;</a>
			{% endif %}
		</div>
	</section>
{% endif %}
